@media (max-width: 1600px) {
    #GradeRight   p {
        font-size: 1rem;
    }
}


@media (max-width: 1170px) {
    a {
        font-size: 0.5rem;
    }

    p {
        font-size: 0.5rem;
    }

    #Grade {
       flex-direction: column;
    }

    #GradeRight button{
        display: block;
    }

    #GradeRight h3, #GradeRight p {
        display: none
    }

    h3 {
        font-size: 0.5rem;
    }

    #GradeLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Destaque div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: center;
    }

    #Destaque img, #Patricionadores img {
        height: 30% !important;
        width: 50%;
    }
}

@media (max-width: 900px) {
    .categoria img {
        width: 10px;
        height: 10px;
    }

    .categoria {
        font-size: .7rem;
    }
}

@media (max-width: 770px) {
    a {
     font-size: 0.3rem;
    }

    button {
        font-size: 0.5rem;
    }
 }

 @media (max-width: 600px) {
    body #navButtons {
        justify-content: center;
        align-items: end;
    }

    body #navButtons div {
        width: 100%;
    }

    body #logo div {
        width: 4vh;
        height: 70%;
    }

    p {
        font-size: 0.3rem;
    }

    h3 {
        font-size: 0.3rem;
    }

    .categoria img {
        width: 5px;
        height: 5px;
    }

    .categoria {
        font-size: .5rem;
    }
    
    .categorias {
        padding: 5px 0;
        background-color: red;
    }

    .categorias :nth-last-child(-n+3) {
        display: none;
    }

    .duvida-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
    }

    .duvida {
        padding: 10px;
        width: 50%;
    }

    #Functions {
        padding: 3vh;
        flex-direction: column;
      
        gap: 4vh;
    }
 }

 @media (max-width: 350px) {

    body #navButtons button {
        font-size: .3rem;
    }

    body #navBar div {
        width: 55%;
    }
 
    a {
        font-size: 0.3rem;
    }

    p {
        font-size: 0.2rem;
    }

    h3 {
        font-size: 0.2rem;
    }
 }